{% extends 'layout/index.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %} Daftar Layanan {% endblock %}
    {% block content %}

    <div class="full-screen">
        <div class="container-berada mt-5" style="padding-left: 10%; padding-right: 10%">
            <h1 class="fw-bold text-center mb-5 mt-5" style="word-wrap: break-word; word-break: break-word;">Layanan Perawatan Gigi yang Tersedia</h1>

            <!-- Form Pencarian -->
            <form method="get" class="mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Cari layanan..." value="{{ request.GET.q }}">
                    <button class="btn btn-custom" type="submit">Cari</button>
                </div>
            </form>

            <div class="row">
                {% for service in services %}
                <div class="col-md-4 mb-4 justify-content-center">
                    <div class="card text-center service-card" style="background-color: #C8B6A6; border: 2px solid #3C2A21; border-radius: 10px;">
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        <div class="card-body" style="height:auto">
                            {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}" class="text-decoration-none">
                                <h3 class="card-text" style="color: #3C2A21; word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">{{ service.name }}</h3>
                            </a>
                            {% else %}
                            <a href="{% url 'detail_layanan' service.id %}" class="text-decoration-none">
                                <h3 class="card-text" style="color: #3C2A21; word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">{{ service.name }}</h3>
                            </a>
                            {% endif %}
                            <p class="card-text" style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% include 'layout/footer.html' %}
{% endblock %}
  
