{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Login {% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static 'css/pribadi.css' %}" rel="stylesheet">
</head>
<body>
    
{% block content %}


    <div class="full-screen">
        <div class="container-fluid" style="padding-right: 10%;padding-left: 10%;">

            <div class="row text-center mb-3" style="align-items: flex-end;">
                <div class="col-md-4">
                    <h1 class="fw-bold">Daftar</h1>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/icon/xuen.png' %}" alt="xuen" class="img-fluid" style="max-height: 150px;">
                </div>
                <div class="col-md-4">
                    <p>Sudah Punya Akun? <a href="{% url 'login' %}" class="link-daftar">Masuk</a></p>
                </div>
            </div>

            <form class="needs-validation mb-5" method="POST" novalidate>
                {% csrf_token %}
                {% include 'registration/form.html' %}

                <!-- Display errors below the fields -->
                <div class="alert alert-danger mt-3">
                    <p> Pesan kesalahan: </p>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>

            </form>

            <!-- Flash Message for Success -->
            {% if messages %}
            <div class="alert alert-success mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>

    {% endblock %}
    {% bootstrap_javascript %}
</body>
</html>
